#root {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow-y: auto;
  background-color: #202124;
}

#background {
  color: #bdc1c6;
}

.header-component {
  justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: 100px 400px auto;
}

.back-btn {
  border: none;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #bdc1c6;
  transition: background-color .1s ease-in-out, transform .1s ease-in-out;
}

.back-btn:hover{
  background-color: #929292;
}

.back-btn:active{
  transform: scale(1.08);
}

.select-menu {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 20px;
}

.body {
  max-width: 500px;
  text-align: center;
  margin: auto auto;
  word-wrap: break-word;
}

.input-form {
  margin-bottom: 20px;
}

.input-form label {
  display: block;
}

.calculate {
  margin: 0%;
}

#clear-btn {
  margin-top: 20px;
}

#shape-display {
  width: 900px;
  height: 300px;
  margin-left: -145px;
}

#lines{
  transition: stroke-width .1s ease-in-out, stroke .5s ease-in-out;
}

#lines:hover {
  stroke-width: 2px;
  stroke: "#0061e0";
}

#line-text {
  fill: #bdc1c6;
}

#input-text {
  width: 235px;
  height: 20px;
}

input#input-text {
  background-color: #202124;
  border: 2px solid #bdc1c6;
  border-radius: 4px;
  margin-top: 15px;
  color: #bdc1c6;
  padding: 10px;
  font-size: 20px;
  transition: height 0.4s ease-in-out, font-size 0.4s ease-in-out;
}

input#input-text:focus {
  height: 40px;
  font-size: 30px;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: #575757;
}

::-webkit-scrollbar-thumb:hover{
  background: #363636;
}