.header-component {
  justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: 100px 400px auto;
}

.back-btn {
  border: none;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}

.select-menu {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 20px;
}

.body {
  max-width: 500px;
  text-align: center;
  margin: auto auto;
  word-wrap: break-word;
}

.input-form {
  margin-bottom: 20px;
}

.input-form label {
  display: block;
}

.calculate {
  margin: 0%;
}

#clear-btn {
  margin-top: 20px;
}

#shape-display {
  width: 300px;
  height: 300px;
  margin-right: 38px;
}
